<app-places-container title="Your Favorite Places">
  <p class="fallback-text" *ngIf="isFetching() && !error()">
    Fetching favorite places...
  </p>
  <p class="fallback-text" *ngIf="error()">{{ error() }}</p>
  <app-places
    *ngIf="places() && places().length > 0"
    [places]="places()!"
    (selectPlace)="onRemovePlace($event)"
  ></app-places>
  <p class="fallback-text" *ngIf="places() && places().length === 0">
    Unfortunately, no places could be found.
  </p>
</app-places-container>
